






<section class="contact">
	<hr>

<form>
	<input type="email" placeholder="email">
	<a href="/" class="btn">Subscribe now!</a>
</form>
</section>



<footer>
	<!-- <p> Created by Daniel Niedzwiedzki </p> -->
	<a href="https://www.kean.edu"> Kean University</a>
	<p> LLC 2019</p>
	<ul>
		<li> <a href="#"> <i class="fa fa-twitter-square fa-2x"></i> </a> </li>
		<li> <a href="#"> <i class="fa fa-facebook-square fa-2x"></i> </a> </li>
		<li> <a href="#"> <i class="fa fa-snapchat-square fa-2x"></i> </a> </li>
	</ul>

</footer>





</body>
</html>
