
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>


  <header>

	<h2> <a href="/">Kean University</a></h2>
    <nav>
      <li><a href="/project">Book Now</a></li>
      <li><a href= "/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/login">Admin</a></li>
    </nav>

  </header>
