




{{>header}}

<link rel="stylesheet" href=".././about.css">

    <title>About</title>




<section>


<p id='aboutTitle'> ABOUT OUT RENTAL SERVICE </p>

<h1 id='aboutmoto'> CONNECT KEAN THROUGH THE POWER OF HOSPITALITY</h1>

<h4 id='aboutSmalltitle'>Our Mission Statament</h4>

<p> We are a luxury brand whose incredible family of associates puts the soul in hospitality every day.
    The needs of our guests, associates and owners are in the forefront of everything we do.
     Through authenticity and innovation, we create unique memorable experiences. </p>

<br>

<h4 id='aboutSmalltitle' >Early days </h4>

<br>
<p> When Tim began his college career he noticed how hard it is to find a decent place to stay
during his time at Kean. He had to rent a place far off site which make it more difficult to commute to
class and back. Graduating with a degree in Architecture and Business he knew what he wanted to do. </p>


<p>He knew that students can benefit from his idea and had to put it to work right away.
  The first semester that the dorm rentals were availabile was a huge success.
  From that point on, improvements were made annually and the rest is history.
 </p>

<br>


<img id='logo'src="https://www.kean.edu/~mawriting/_Media/200x57xhorizontal_kean_logo_4-16-0.gif.pagespeed.ic.PaZGkSfSvV.png" height="300px" width="1000px" alt="">

</section>




{{> footer}}
