

{{>header}}


    <title>Home page</title>




  <section class="hero">
  	<div class="background-image" style="max-height: 1100px; max-width: 100%; background-image: url(
https://static1.squarespace.com/static/53405ff6e4b0600fcd35d5aa/542d6810e4b0ce819e52ae5d/542d6812e4b0ce819e52ae61/1412261908822/1-Kean_University_Exterior_Ground_View_Ken_Bruggeman_Photography_York%2C+PA.jpg?format=750w

      );"></div>
  	<div class="hero-content-area">
  		<h1>Kean University Dorm Rental Service</h1>
  		<h2>Rent with the best</h2>
  		<!-- <a href="/contact" class="btn">Contact Us</a> -->
  	</div>
  </section>



<section>
  <h2>Become a member today!</h2>
  <br>
  <br>
  <p>Become a member of Frequent Stay Program and start earning points today!</p>

  <p>To become a member simply sign up during your dorm checkout and start earning </p>

</section>







  <section class="packages">
  	<h3 class="title"> 5 Star Service!</h3>
  	<p>We pride ourselves on providing the best service possible and consistanly strive to improve.
    
    </p>
  	<hr>
  	<ul class="grid">
  		<li>
        <i class="fa fa-bus fa-4x"></i>
  			<h4>Shuttle Service</h4>
  			<p> Let us pick you up and make your arrival that much better</p>
  		</li>

  		<li>
  			<i class="fa fa-shield fa-4x"></i>
  			<h4>Security </h4>
  			<p> 24/7 hour Security Presence </p>
  		</li>

  		<li>
  			<i class="fa fa-sun-o fa-4x"></i>
  			<h4>Dorm Selection</h4>
  			<p>Pick your ideal dorm, whether you want to wake up with the sun or not </p>
  		</li>

  		<li>
  			<i class="fa fa-hourglass fa-4x"></i>
  			<h4>Extended Stay </h4>
  			<p>Extended Stay availabile now!</p>
  		</li>
  	</ul>
  </section>


  <section class="testimonials">
  	<h3 class="title">Testimonials from our adventures</h3>
  	<hr>
  	<p class="quote">Wow these were great!</p>
  	<p class="author">-Jimmy</p>
  	<p class="quote">Amazing Stay! </p>
  	<p class="author">-Leo</p>
  	<p class="quote">Cant wait to come back next semester</p>
  	<p class="author">-Bibby</p>
  </section>









{{>footer}}
